section.benefits
  div.container
    .container-wrap
      .col-md-6
        div.recurring.left
        .content
          h4 Recurring Donations
          p uam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam 
      .col-md-6
        div.contextual.left
        .content
          h4 Contextual Giving
          p uam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam 
    .container-wrap
      .col-md-6
        div.diamond.left
        .content
          h4 Beautiful Design
          p uam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam 
      .col-md-6
        div.custom.left
        .content
          h4 Custom Receipting
          p uam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam 
