section.ebook
  .container
    .title
      img(src='../images/ebook@2x.png').left
      .content
        p Ebook
        h5 5 Steps To Delighting Nonprofit Supporters
    .content-container
      .ebook.left
      .content
        p Customer service is one of the most easily overlooked elements of successful fundraising and donor development. Nonprofits are potentially leaving a lot of revenue and loyalty on the table by not paying attention to donor delight. In this ebook you’ll learn the 5 most importnant steps for going from failing to fantastic at donor support...

        form
          h6 Download Book
          .form-group
            label First name*
            input(name="name", type="text")
          .form-group
            label Email*
            input(name="email", type="email")
            input(type="submit", value="DOWNLOAD").btn
