section.header
  include nav
  
  div.container.cta
    div.content-container.left
      span transactions
      h1 Your Mission Deserves The Best Chance To Win!
      p Rainmaker CheckoutTM transforms a tedious task into a beautiful experience optimized to delight your supporters and increase conversions.
      
      a(href="#").btn schedule demo now!
    
    .shadow
    div.right.laptop
      div.screen
        ul
          li.slide.slide-1
          li.slide.slide-2
  a(href="#").side-btn Request a demo
    
section.tabs
  ul
    li.active
      a(href="#") Overview
    li 
      a(href="#") MANAGING TRANSACTIONS
    li 
      a(href="#") ADVANCED FEATURES
    li 
      a(href="#") GIVING LABS
    li 
      a(href="#") RAINMAKER PAYMENTS
    li 
      a(href="#") SECURITY & FRAUD
    
