section.payments
  div.container
    h4 Accepts all major payments and credit cards
    .container
      div.card-wrapper
        div
          img(src="../images/visa@2x.png")
        div
          img(src="../images/mastercard@2x.png")
        div
          img(src="../images/american@2x.png")
        div
          img(src="../images/discover@2x.png")
        div
          img(src="../images/jcb@2x.png")
        div
          img(src="../images/diners@2x.png")
        div
          img(src="../images/paypal@2x.png")
          
section.currency
  .container
    h6 100+ currencies supported
    h4 Accept Donations From Anyone, Anywhere.
    p You can accept contributions from your supporters practically anywhere in the world. Rainmaker Payments automatically handles conversions so that you can instantly charge donors in their local currencies (and even Bitcoin).
    span 
    span 
    span 
    span
