section.responsive
  .container
    .content.left
      h2 34%
      p Did you know responsive donation pages convert 34% more visitors than your static donation page?
      p Is your donation page mobile responsive?
      a(href="#").btn Yes, it is!
      a(href="#").btn-red.btn No, it isn't!
    .phone
      img(src="../images/phone@2x.png")
          
